<div class="name">
    Kirill
</div>
<div class="menu">
    <div (mouseenter)="highlight()" (mouseleave)="unHighlight()" class="linkWrapper">
        <div id="aboutMe" class="menuLink">About me</div>
        <div id="underlineAM" class="underline"></div>
    </div>
    <div (mouseenter)="highlight()" (mouseleave)="unHighlight()" class="linkWrapper">
        <div id="skills" class="menuLink">Skills</div>
        <div id="underlineS" class="underline"></div>
    </div>
    <div (mouseenter)="highlight()" (mouseleave)="unHighlight()" class="linkWrapper">
        <div id="portfolio" class="menuLink">Portfolio</div>
        <div id="underlineP" class="underline"></div>
    </div>
</div>