<div class="logo">
    <img class="logo" src="assets/img/navigation/logoCut.png">
    <div (mouseenter)="highlight('legalNotiveHover')" (mouseleave)="unHighlight('legalNotiveHover')" class="impressum">
        <a routerLink="imprint" class="characters" translate>Imprint</a>
        <div [ngClass]="legalNotiveHover? 'displaying' : ''" class="underline"></div>
    </div>
    <div (mouseenter)="highlight('dataProtectionHover')" (mouseleave)="unHighlight('dataProtectionHover')" class="impressum">
        <a routerLink="data-protection" class="characters" translate>Data protection</a>
        <div [ngClass]="dataProtectionHover? 'displaying' : ''" class="underline"></div>
    </div>
</div>
<div class="copyright">
    <img src="assets/img/navigation/copyright.png">
    Kirill Surikow 2022
</div>
<div class="smIcons">
    <a *ngFor="let icon of smIcons" href="{{ icon.url }}">
        <img src="assets/img/socialMedia/{{ icon.path }}">
    </a>
</div>
<div (mouseenter)="highlight('legalNotiveHover')" (mouseleave)="unHighlight('legalNotiveHover')" class="impressumResponsive">
    <a routerLink="imprint" class="characters" translate>Imprint</a>
    <div [ngClass]="legalNotiveHover? 'displaying' : ''" class="underline"></div>
</div>
<div (mouseenter)="highlight('dataProtectionHover')" (mouseleave)="unHighlight('dataProtectionHover')" class="impressumResponsive">
    <a routerLink="data-protection" class="characters" translate>Data protection</a>
    <div [ngClass]="dataProtectionHover? 'displaying' : ''" class="underline"></div>
</div>