.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    position: relative;
    padding-left: 7.5vw;

    .leftBlock {
        width: 50%;
        word-break: keep-all;

        h1 {
            font-size: 90px;
            font-weight: 700;
        }

        .largeText {
            margin-top: 50px;
            font-size: 16px;
            font-weight: 400;
          
        }

        .smallTextContainer {
            margin-top: 15px;
            display: flex;
            align-items: center;
            gap: 15px;
           

            .imgAM {
                &:hover {
                    transform: scale(1.2);
                }
            }

            .smallText {
                font-size: 16px;
                font-weight: 400;
            }
        }
    }

    .rightBlock {
        width: 40%;
        display: flex;
        align-items: center;
    
        .smallPortraet {
            width: 350px;
            height: 350px;
            object-fit: cover;
            border-radius: 100%;
            border: 2px solid #00BEE8;
        }
    
        .blueLine {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            height: 1px;
            background-color: #00BEE8;
        }
    }

    .shadowSmallPortraet {
        position: absolute;
        right: 0;
    }
}

@media(max-width:1250px) {

    .smallPortraet,
    .blueLine {
        display: none;
    }
}

@media(max-width:1000px) {
    .leftBlock {
        width: 80% !important;
    }
}

///adjusting the headline


@media(max-width:666px) {
    h1 {
        font-size: 70px !important;
    }
}

@media(max-width:520px) {
    h1 {
        font-size: 50px !important;
    }
}

@media(max-width:375px) {
    h1 {
        font-size: 40px !important;
    }
}

///adjusting the headline end


///adjusting the shadow


@media (max-width:600px) {
    .shadowSmallPortraet {
        width: auto;
        height: 400px;
        bottom: -15px;
    }
}
///adjusting the shadow end

 ///adjusting margin-top of about-me

 @media (max-width: 550px) {
    :host {
        margin-top: 50px;
    }
}

@media (max-width: 450px) {
    :host {
        margin-top: 100px;
    }
}

@media (max-width: 390px) {
    :host {
        margin-top: 150px;
    }
}

@media (max-width: 330px) {
    :host {
        margin-top: 200px;
    }
}

///adjusting margin-top of about-me end

///adjusting the left block's width

@media (max-width:600px) {
    .rightBlock {
        display: none !important;
    }
}
