<div class="content">
    <div data-aos="fade-right" class="leftBlock">
        <h1 translate>About me</h1>
        <div class="largeText" translate>
            My path as a software developer began with the search for a new, more exciting challenge
            and with better prospects for the future. So I did what every good developer does: I googled.
            Here I am, Software Development won the race.
        </div>
        <div class="smallTextContainer">
            <img class="imgAM" src="./../../assets/img/aboutMe/bulb.png">
            <div class="smallText" translate>
                What I never would have thought: It makes you great fun! Since then, not a day has gone by that I
                haven't spent hours sitting at the laptop and wondering about every function, that works glad.
            </div>
        </div>
        <div class="smallTextContainer">
            <img class="imgAM" src="./../../assets/img/aboutMe/puzzle.png">
            <div class="smallText" translate>
                Speaking of challenges and development. I am a passionate and professional martial artist. I think that
                the will to continuously improve and working towards a goal are my constant companions and have always
                been. For this reason, I am extremely happy to take this step towards the IT-world.
            </div>
        </div>
    </div>
    <div data-aos="fade-left" class="rightBlock">
        <img class="smallPortraet" src="./../../assets/img/portraet/profile.2.png">
        <div class="blueLine"></div>
    </div>
    <img class="shadowSmallPortraet" src="./../assets/img/photoShadows/shadow2portraet.png">
</div>