<div class="content">
    <div class="leftBlock">
        <h1 translate>About me</h1>
        <div class="largeText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nemo laboriosam impedit quaerat nesciunt
            architecto, vitae ex voluptatibus. Accusamus in minus commodi natus aspernatur quia qui adipisci laborum,
            nostrum optio!
        </div>
        <div class="smallTextContainer">
            <img class="imgAM" src="./../../assets/img/aboutMe/bulb.png">
            <div class="smallText" translate>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum hic odit iusto officiis repellendus! Unde
                neque natus
            </div>
        </div>
        <div class="smallTextContainer">
            <img class="imgAM" src="./../../assets/img/aboutMe/puzzle.png">
            <div class="smallText" translate>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum hic odit iusto officiis repellendus! Unde
                neque natus
            </div>
        </div>
    </div>
    <div class="rightBlock">
        <img class="smallPortraet" src="./../../assets/img/portraet/profile.2.png">
        <div class="blueLine"></div>
        <img class="shadowSmallPortraet" src="./../assets/img/photoShadows/shadow2portraet.png">
    </div>
    
</div>
