<div class="projectContainer">
    <div data-aos="zoom-in-left" class="imgContainer">
        <img class="projectImg" src="assets/img/portfolio/join.png">
    </div>
    <div data-aos="zoom-in-right" class="description">
        <h2>Join</h2>
        <div class="skills">
            JavaScript | HTML | CSS
        </div>
        <div class="descriptionText" translate>
            Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign
            users and categories.
        </div>
        <div class="buttons">
            <a href="http://kirill-surikow.developerakademie.net/Join-1/Index.html" class="testBtn">
                Live test
            </a>
            <a href="https://github.com/RobinOsburg/Join" class="gitBtn">
                Github
            </a>
        </div>
    </div>
</div>