<div class="projectContainer">
    <div class="description">
        <h2>El Pollo Loco</h2>
        <div class="skills">
            JavaScript | HTML | CSS
        </div>
        <div class="descriptionText">
           A simple Jump-and-run game based on an object-oriented approach. Help Pepe to find coins, throw bottles on the chickens and defeat the endboss chicken.
        </div>
        <div class="buttons">
            <div class="testBtn">
                Live test
            </div>
            <div class="gitBtn">
                Github
            </div>
        </div>
    </div>
    <div class="imgContainer">
        <img src="./../../assets/img/portfolio/polloLoco.png">
    </div>
</div>
