<div class="projectContainer">
    <div data-aos="zoom-in-left" class="description">
        <h2>El Pollo Loco</h2>
        <div class="skills">
            JavaScript | HTML | CSS
        </div>
        <div class="descriptionText" translate>
           A simple Jump-and-run game based on an object-oriented approach. Help Pepe to find coins, throw bottles on the chickens and defeat the endboss chicken.
        </div>
        <div class="buttons">
            <a href="http://kirill-surikow.developerakademie.net/El-Pollo-Loco/index.html" class="testBtn">
                Live test
            </a>
            <a href="https://github.com/KirillSurikow/El-Pollo-Loco" class="gitBtn">
                Github
            </a>
        </div>
    </div>
    <div data-aos="zoom-in-right" class="imgContainer">
        <img class="projectImg" src="assets/img/portfolio/polloLoco.png">
    </div>
</div>
