<img class="shadow1" src="assets/img/photoShadows/shadowPortfolio.png">
<div class="projectContainer">
    <div class="imgContainer">
        <img class="projectImg" src="assets/img/portfolio/ringOfFire.png">
    </div>
    <div class="description">
        <h2>Ring of Fire</h2>
        <div class="skills">
            Angular| Firebase | Typescript | HTML | CSS
        </div>
        <div class="descriptionText" translate>
            A digital version of a popular drinking game, which you can play online with your friends. This project is realized with an angular based framework and firebase.
        </div>
        <div class="buttons">
            <a href="https://ring-of-fire-91d17.web.app/" class="testBtn">
                Live test
            </a>
            <a href="https://github.com/KirillSurikow/RingOfFire" class="gitBtn">
                Github
            </a>
        </div>
    </div>

</div>
