.projectContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 35px;

    .imgContainer {
        width: 55%;
        height: 100%;
        display: flex;
        justify-content: flex-end;


        .projectImg {
            height: 100%;
        }
    }

    .description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 15%;
        width: 45%;
        gap: 10px;
        height: 100%;

        h2 {
            font-size: 32px;
            font-weight: 700;
            color: #4B47FF;
        }


        .skills {
            font-size: 23px;
            font-weight: 400;
            color: #00BEE8;
        }

        .descriptionText {
            font-size: 16px;
            font-family: 400;
            color: white;
        }


        .buttons {
            display: flex;
            justify-content: flex-start;
            gap: 5%;

        }
    }
}

.shadow2 {
    position: absolute;
    right: -7.5vw;
    bottom: -310px;
}

//switching to a column layout

@media(max-width:1010px) {
    .projectContainer {
        flex-direction: column;
    }

    .imgContainer {
        justify-content: center !important;
    }

    .description {
        padding-left: 0 !important;
    }

    h2 {
        width: 100%;
        text-align: center;
    }

    .skills {
        width: 100%;
        text-align: center;
    }

    .descriptionText {
        width: 100%;
        text-align: center;
    }

    .buttons {
        width: 100%;
        justify-content: center !important;
    }
}

///switching to a column layout end

/// adjusting the image size


@media(max-width:780px) {

    .imgContainer,
    .projectImg {
        height: 90% !important;
    }
}

@media(max-width:430px) {

    .imgContainer,
    .projectImg {
        height: 70% !important;
    }
}

/// adjusting the image size end

/// adjusting the description text

@media(max-width:890px) {
    .description {
        width: 62% !important;
    }
}

@media(max-width:645px) {
    .description {
        width: 85% !important;
    }
}

@media(max-width:470px) {
    .description {
        width: 100% !important;
    }
}

/// adjusting the description text end


///adjusting the shadow


@media(max-width:520px) {
    .shadow2 {
        width: auto;
        height: 803px;
    }
}


@media(max-width:440px) {
    .shadow2 {
        width: auto;
        height: 720px;
    }
}