<div class="projectContainer">
    <div class="imgContainer">
        <img class="projectImg" src="assets/img/portfolio/join.png">
    </div>
    <div class="description">
        <h2>CRM</h2>
        <div class="skills">
            Angular | Typescript | Firebase | HTML | CSS
        </div>
        <div class="descriptionText" translate>
           A very simple Customer Relationship Management System working with CRUD functionality.
        </div>
        <div class="buttons">
            <div class="testBtn">
                Live test
            </div>
            <div class="gitBtn">
                Github
            </div>
        </div>
    </div>
</div>
<img class="shadow2" src="assets/img/photoShadows/shadowPortfolio2.png">
