<a data-aos="flip-up" class="callTABtnResponsive" routerLink="" fragment="portfolio" translate>
    Get in touch
</a>
<div class="allSkills">
    <div data-aos="flip-right" *ngFor="let skill of allSkills; let i = index"  class="skill">
        <img class="skillImg" src="./../../assets/img/skills/{{ skill.img }}" alt="">
        <div class="skillName">
             {{ skill.name }}
        </div>
    </div>
</div>
<div data-aos="flip-left" class="skillDescription">
    <div class="headlineBox">
        <h1 translate>My skills</h1>
        <div class="blueLine"></div>
    </div>
    <div class="skillText" translate>
       I have grown my frontend development skills that have allowed me to create different projects.
    </div>
    <a routerLink="" fragment="portfolio" class="callTABtn" translate>
        Get in touch
    </a>
</div>
<div id="portfolio" class="anchorPortfolio"></div>
<img data-aos="fade" class="shadow" src="./../../assets/img/photoShadows/shadowSkills.png">