<div class="introductionBox">
    <div class="introductionCharacters">
        <div class="upperBox">
            <div class="smallBox">
                I am
            </div>
            <div class="largeBox">
                <div class="name">
                    Kirill Surikow
                </div>
                <div class="title">
                    Frontend Developer
                </div>
            </div>
        </div>
        <div class="callTABtn">
            Let's talk
        </div>
    </div>
</div>
