.introductionBox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.largePortraet {
    width: 100%;
}

.introductionCharacters {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;


    .upperBox {
        display: flex;
        gap: 15px;
    }



    .smallBox {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        text-align: center;
        font-size: 64px;
        font-weight: 400;
    }

    .name {
        font-size: 78px;
        font-weight: 700;
        margin-top: 23px;
    }

    .title {
        font-size: 54px;
        font-weight: 400;
        color: #4B47FF;
        margin-top: 49px;
    }

    .curveBox {
        position: absolute;
        z-index: -1;
    }
}

////adapting the font-size of the introducition to smaller screens

@media(max-width:1115px) {
    .name {
        font-size: 56px !important;
    }

    .title {
        font-size: 38px !important;
    }

    .smallBox {
        font-size: 52px !important;
    }

    .callTABtn {
        width: 150px;
        height: 50px;
    }
}

@media(max-width:470px) {
    .name {
        font-size: 37px !important;
        margin-top: 12px !important;
    }

    .title {
        font-size: 25px !important;
        margin-top: 24px !important;
    }

    .smallBox {
        font-size: 40px !important;
    }

   
}

////adapting the font-size of the introducition to smaller screens end


