<div class="introductionBox">
    <div class="introductionCharacters">
        <div class="upperBox">
            <div class="smallBox">
                I am
            </div>
            <div class="largeBox">
                <div class="name">
                    Kirill Surikow
                </div>
                <div class="title">
                    Frontend Developer
                </div>
            </div>
        </div>
        <a routerLink="" fragment="contact" class="callTABtn">
            Let's talk
        </a>
    </div>
</div>
