.introductionBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.largePortraet{
    width: 100%;
}

.introductionCharacters{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;


    .upperBox{
        display: flex;
        gap: 15px;
    }

   

    .smallBox{
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        text-align: center;
        font-size: 64px;
        font-weight: 400;
    }

    .name{
        font-size: 78px;
        font-weight: 700;
        margin-top: 23px;
    }

    .title{
       font-size: 54px;
       font-weight: 400;
       color: #4B47FF;
       margin-top: 49px;
    }

    .curveBox{
        position: absolute;
        z-index: -1;
    }
}