.alternativeBackground{
    padding-left: 200px;
    padding-right: 200px;
}

.curveBox{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;

    img{
        width: 100%;
    }
}

.wholeScreen{
    width: 100vw;
    display: flex;
    justify-content: center;
}

app-front-page{
    width: 85vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}