
<div class="wrapper">
    <app-front-page id="frontPage"></app-front-page>
<div class="curveBox">
    <img class="normalImg" src="./../assets/img/portraet/portraetForm.png">
    <img src="./../assets/img/portraet/portraetResponsive.png" class="responsiveImg">
</div>
<app-about-me id="aboutMe"></app-about-me>
<app-skills id="skills"></app-skills>
<div id="portfolio"  class="anchor1"></div>
 <app-portfolio-headline></app-portfolio-headline> 
<app-portfolio></app-portfolio>
<div id="contact"  class="anchor2"></div>
<app-contact-headline></app-contact-headline>
<app-contact></app-contact>
<app-footer></app-footer>
</div>
