<div class="wrapper">
    <app-front-page   [visible] ="fpInSceen()" class="component" id="frontPage"></app-front-page>
    <app-portraet  [visible] ="pInSceen()" id="portraet" class="component"></app-portraet>
    <app-about-me   [visible] = "amInSceen()" class="component" id="aboutMe"></app-about-me>
    <app-skills  [visible] = "sInSceen()" class="component" id="skills"></app-skills>
    <app-anchor-portfolio  id="portfolio"></app-anchor-portfolio>
    <app-portfolio-headline  [visible] = "phInSceen()" class="component" id="portfolioHeadline"></app-portfolio-headline>
    <app-portfolio  [visible] = "pcInSceen()" class="component" id="portfolioContent"></app-portfolio>
    <app-anchor-contact   id="contact" ></app-anchor-contact>
    <app-contact-headline  [visible] = "chInSceen()" class="component" id="contactHeadline"></app-contact-headline>
    <app-contact  [visible] = "ccInSceen()" class="component" id="contactContent"></app-contact>
    <app-footer  [visible] = "fInSceen()" class="component" id="footer"></app-footer>
</div>