.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 110px;
        border-bottom: 1px solid white;
    
        .innerHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 85%;
        
    
            .logo {
                height: 100px;
                width: auto;
            }
    
            .closeMenu{
                transform:translateX(16px)
            }
        }
    }
    
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        height: 100%;
    
        a {
            color: white;
            font-size: 30px;
            font-weight: 400;
            text-decoration: none;
        }

        .translation{
            span{
                color: white;
                cursor: pointer;
            }
        }
    }
}