.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

.introduction {
    display: flex;
    position: absolute;
    left: 50%;
    top: 25%;
}

.smTop {
    position: absolute;
    top: 630px;
    left: 0px;
    display: flex;
    align-items: center;
    margin-top: 80px;
}