.animationWrapper {
    transform: translateX(100vw);
    transition: transform 250ms;

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 110px;
        background-color: rgba(20, 29, 47, 0.5);
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 10;
    }

    .introduction {
        display: flex;
        width: 85vw;
    }

    .smTop {
        display: flex;
        align-items: flex-end;
        margin-bottom: 10px;
        justify-content: space-between;
        width: 100%;
    }

    .smTopResponsive {
        align-items: flex-end;
    }

    .responsiveBlock {
        position: relative;
        width: 100%;
        bottom: 0;
        flex-direction: column;
        align-items: center;
        display: none;

        app-social-media-block {
            align-self: flex-start;
            justify-content: space-between;
            width: 92.5vw;
        }
    }
}

.animate{
    transform: translateX(0);
}




@media(max-width:880px) {
    .introduction {
        display: none;
    }

    .smTop {
        display: none;
    }

    .smTopResponsive {
        display: flex;
    }

    .responsiveBlock {
        display: flex;
    }
}

@media (max-width:700px) {
    .responsiveBlock {
        gap: 40px;
    }
}