.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    width: 100%;
}

.introduction {
    display: flex;
    align-self: flex-end;
}

.smTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}