.blueStripe{
    width: 100px;
    background-color: #4B47FF;
    height: 5px;
}

.smIcons{
    width: 175px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.email{
    color: white;
    font-size: 23px;
    font-weight: 400;
}