.blueStripe{
    width: 100px;
    background-color: #4B47FF;
    height: 5px;
}

.smIcons{
    width: 175px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.email{
    color: white;
    font-size: 23px;
    font-weight: 400;
}

.leftBlock{
    display: flex;
    align-items: center;
    transform: translateX(-7.5vw);
}

.rightBlock{
    color: white;
    writing-mode: tb-rl;
    transform: translateY(-7vh);
    font-size: 23px;
    font-weight: 400;
}