.blueStripe {
    width: 100px;
    background-color: #4B47FF;
    height: 5px;
}

.smIcons {
    width: 175px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;

    img {
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.email {
    color: white;
    font-size: 23px;
    font-weight: 400;

    cursor: pointer;
}

.leftBlock {
    display: flex;
    align-items: center;
}

.rightBlock {
    color: white;
    writing-mode: tb-rl;
    margin-right: 7.5vw;
    font-size: 23px;
    font-weight: 400;
}


@media(max-width:880px) {
    .rightBlock {
        margin-right: 0;
    }
}

@media(max-width:700px) {

    .rightBlock,
    .email {
        display: none;
    }
}

@media(max-width:375px) {
    .blueStripe {
        width: 50px;
    }
}

@media(max-width:350px) {
    .smIcons {
        margin-left: 25px;
        margin-right: 25px;
    }
}