<div class="projectContainer">
    <div data-aos="zoom-in-left" class="description">
        <h2>Pokedex</h2>
        <div class="skills">
            JavaScript | HTML | CSS | API
        </div>
        <div class="descriptionText" translate>
          Based on the PokeApi a simple library that provides and catalogues pokemon information.
        </div>
        <div class="buttons">
            <a href="http://kirill-surikow.developerakademie.net/PokeDex/index.html" class="testBtn">
                Live test
            </a>
            <a href="" class="gitBtn">
                Github
            </a>
        </div>
    </div>
    <div data-aos="zoom-in-right" class="imgContainer">
        <img class="projectImg" src="assets/img/portfolio/pokedex.png">
    </div>
</div>
