body {
    margin: 0;
    background-color: rgba(20, 29, 47, 0.8);
    overflow-x: hidden;
}

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.callTABtn {
    background-color: #00BEE8;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 165px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 400;
    margin-top: 30px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    color: white;
    border: none;
    text-decoration: none;

    &:hover {
        background-color: #4B47FF;
        transform: scale(1.1);
    }
}

.testBtn {
    background-color: #4B47FF;
    border-radius: 10px;
    font-weight: 400;
    font-size: 23px;
    color: white;
    width: 152px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: #00BEE8;
    }
}

.gitBtn {
    background-color: transparent;
    border-radius: 10px;
    font-weight: 400;
    font-size: 23px;
    color: white;
    width: 152px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #00BEE8;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: #00BEE8;
    }
}

.scrollUpBtn{
    position: absolute;
    bottom: 50px;
    right: 7.5vw;
    text-decoration: none;

    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48;
        color: white;
        font-size: 38px;
        cursor: pointer;
    }

    &:hover{
        color: #00BEE8;
    }
}


///adjusting the menu pop up
.mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: transparent !important;
}

.cdk-overlay-dark-backdrop {
    background: rgba(0,0,0,.6) !important;
}

.cdk-global-overlay-wrapper{
    align-items: flex-start !important;
}

.cdk-overlay-pane {
    width: 100% !important;
    height: 100% !important ;
    max-width: 100% !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    overflow-y: hidden !important;
}

//// adjusting the menu pop up end
/// translating the pop up

.cdk-overlay-container{
   
    
}