:host {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;

    .normalImg {
        width: 100%;
    }

    .responsiveImg {
        width: 100%;
        height: auto;
        display: none;
    }
}

    //////////////////making the large portraet responsive start
    
    @media (max-width:930px) {
        :host {
            overflow: hidden;
    
            .normalImg {
                height: 70vh;
                width: auto;
            }
        }
    }
    
    @media (max-width:470px) {
        .normalImg {
            display: none;
        }
    
        .responsiveImg {
            display: flex !important;
            margin-top: -100px;
        }
    }
    
    @media (max-width:420px) {
        .responsiveImg {
            margin-top: -90px;
        }
    }
    
    @media (max-width:375px) {
        .responsiveImg {
            margin-top: -75px;
        }
    }
    
    @media (max-width:345px) {
        .responsiveImg {
            margin-top: -60px;
        }
    }
    
    @media (max-width:320px) {
        .responsiveImg {
            margin-top: -40px;
        }
    }
    
    //////making the large portraet responsive end